// #left {
//     display: inline-block;
//     height: 50px;
//     width: 50px;
//     border-right: 100px solid transparent;
//     border-bottom: 50px solid black;
//     transition: border-bottom 2s, width 2s;

//     &:hover {
//       width: 100px;
//       border-right: 50px;
//     }
//   }

//   #right {
//     display: inline-block;
//     height: 50px;
//     width: 50px;
//     border-left: 100px solid transparent;
//     border-top: 50px solid red;
//   }


#left {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: red;

  &:hover {
    width: 100px;
    border-right: 50px;
  }
}

#right {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: blue;
}
