#left {
  display:          inline-block;
  height:           200px;
  width:            300px;
  background-color: green;
  background:       url(test1.jpeg);
  clip-path:        polygon(0 0, 50% 0, 15% 100%, 0 100%);
  transition:       clip-path 2s;

  &:hover {
    clip-path: polygon(0 0, 80% 0, 40% 100%, 0 100%);
  }
}



// #left:after {
//   position:         relative;
//   float:            right;
//   height:           200px;
//   width:            200px;
//   background-color: blue;
//   content:          "";
//   border-bottom:    25px solid red;
//   border-left:      25px solid red;
//   border-top:       25px solid red;
//   border-right:     25px solid red;
// }

#right {
  display: inline-block;
  height:  200px;
  width:   300px;
}

