#wrapper {
  border: 4px solid black;
  height: 200px;
  width:  400px;
}

#left {
  display:    inline-block;
  position:   absolute;
  height:     200px;
  width:      400px;
  background: url(test1.jpeg);
  clip-path:  polygon(0 0, 300px 0, 100px 200px, 0 200px);
  transition: clip-path .2s, width .2s;

  &.active {
    width:     400px;
    clip-path: polygon(0 0, 365px 0, 165px 200px, 0 200px);
  }
}

#right {
  display:    inline-block;
  position:   absolute;

  height:      200px;
  width:       400px;

  background: url(test2.jpeg);
  clip-path:  polygon(300px 0, 400px 0, 400px 200px, 100px 200px);
  transition: clip-path .2s, width .2s;

  &.active {
    width:     400px;
    clip-path: polygon(255px 0, 400px 0, 400px 200px, 45px 200px);
  }
}

.blurb {
  position:    relative;
  display:     inline;
  font-size:   14px;
  text-shadow: 1px 1px 2px black;
  color:       white;
  opacity:     0;

  .blurb-description {
    font-size: 12px;
  }

  &.active {
    opacity: 1;
  }
}

#blurb-left {
  z-index:     4;
  margin-top:  60px;
  margin-left: 15px;
  float:       left;
  transition:  margin-left .4s, opacity .4s;

  &.active {
    margin-left: 30px;
  }
}

#blurb-right {
  z-index:      4;
  float:        right;
  margin-top:   60px;
  margin-right: 15px;
  transition:   margin-right .4s, opacity .4s;

  &.active {
    margin-right: 30px;
  }
}

